body {
  margin: 0;
  background: url(/images/hangman_s_tree_by_avareonart_d8w0e6y.jpg) no-repeat center;
  background-size: cover;
  font-family: 'Inter', sans-serif;
  background-color: #ffffff;
}

main {
  width: 80%;
  margin: auto;
  padding: 20px;
  background-color: rgba(28, 28, 28, 0.68);
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

#main-area {
  display: flex;
}

/* .hide-me {
  display: none;
} */

#hangman-image {
  /* width: 400px; */
  margin-right: 30px;
}

#secret-word {
  height: 3em;
  margin-bottom: 10px;
}

#secret-word span {
  vertical-align: bottom;
  color: #ffffff;
  font-size: 2em;
  border-bottom: 2px solid #ffffff;
  width: 30px;
  text-align: center;
  margin-right: 6px;
  display: inline-block;
  font-weight: bolder;
}

#letters {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 7px;
}

#letters button {
  width: 28px;
  padding: 6px 0;
  text-align: center;
}

#wrong-letter {
  margin-top: 0;
  margin-bottom: 20px;
}
#wrong-letter span {
  margin-right: 7px;
  color: #ffffff;
  font-size: 1.2em;
  font-weight: bold;
}
a {
  text-decoration: none;
  color: #ffffff;
}

/* .logo {
  margin: 8px;
  width: 100px;
  height: auto;
} */

.main-buttons {
  width: 100%;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.my-button {
  font-family: 'Inter', sans-serif;
  font-weight: bolder;
  border: none;
  font-size: 18px;
  border-radius: 24px;
  -webkit-box-shadow: 7px 7px 10px -3px rgba(28, 28, 28, 0.68);
  box-shadow: 7px 7px 10px -3px rgba(28, 28, 28, 0.68);
  cursor: pointer;
}

.my-button:hover {
  transform: scale(1.03);
  transition: 500ms;
}
#start {
  width: 317px;
  height: 105px;
  left: 29px;
  top: 281px;
  padding: 24px;
  margin-bottom: 20px;
  background-color: #9c6b8a;
  border: none;
  color: #ffffff;
}

.new-word {
  width: 250px;
  background-color: #9ea8ba;
  padding: 25px;
  margin-bottom: 20px;
  color: #ffffff;
}

.save,
.cancel,
.new-game,
.give-up {
  width: 317px;
  padding: 25px;
  margin-bottom: 20px;
  color: #ffffff;
}

.save,
.new-game {
  background-color: #9c6b8a;
  color: #ffffff;
}

.cancel,
.give-up {
  background-color: #9ea8ba;
  /* display: none; */
}

#new-word-area {
  display: none;
}

.input-area {
  display: flex;
  justify-content: center;
}
.input-textarea {
  line-height: 150px;
  width: 70%;
  height: 150px;
  resize: none;
  margin-bottom: 3%;
  border: none;
  background-color: #9ea8ba;
  color: #ffffff;
  outline: 0;
  font-family: 'Inter', sans-serif;
  font-weight: bolder;
  font-size: 30px;
  overflow: scroll;
  text-align: center;
}

#result {
  color: #ffffff;
  font-size: 30px;
  font-weight: bolder;
}

/* Media queries */
/* Tablet */

@media screen and (min-width: 768px) {
  .input-textarea {
    width: 45%;
  }

  .main-buttons-game,
  .main-buttons-word {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .my-button-game,
  .my-button-word {
    width: 44%;
  }
}

/* Desktop */
@media screen and (min-width: 1440px) {
  .input-textarea {
    width: 35%;
  }

  .main-buttons-game,
  .main-buttons-word {
    max-width: 50%;
  }
}
