body {
  font-family: 'Inter', sans-serif;
  background-color: #ffffff;
}

.logo {
  margin: 8px;
  width: 100px;
  height: auto;
}

.main-buttons {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.my-button {
  font-family: 'Inter', sans-serif;
  font-weight: bolder;
  border: none;
  font-size: 18px;
  border-radius: 24px;
  -webkit-box-shadow: 7px 7px 10px -3px rgba(28, 28, 28, 0.68);
  box-shadow: 7px 7px 10px -3px rgba(28, 28, 28, 0.68);
}

.start {
  width: 317px;
  height: 105px;
  left: 29px;
  top: 281px;
  padding: 24px;
  margin-bottom: 20px;
  background-color: #4d6749;
  border: none;
  color: #ffffff;
}

.new-word {
  width: 250px;
  background-color: #8a8c54;
  padding: 25px;
  margin-bottom: 20px;
  color: #ffffff;
}

.save,
.cancel,
.new-game,
.give-up {
  width: 317px;
  padding: 25px;
  margin-bottom: 20px;
  color: #ffffff;
}

.save,
.new-game {
  background-color: #4d6749;
  color: #ffffff;
}

.cancel,
.give-up {
  background-color: #8a8c54;
}

.input-area {
  display: flex;
  justify-content: center;
}
.input-textarea {
  line-height: 150px;
  width: 70%;
  height: 150px;
  resize: none;
  margin-bottom: 3%;
  border: none;
  background-color: #ebebe1;
  color: #4d6749;
  outline: 0;
  font-family: 'Inter', sans-serif;
  font-weight: bolder;
  font-size: 30px;
  overflow: scroll;
  text-align: center;
}

/* Media queries */
/* Tablet */

@media screen and (min-width: 768px) {
  .input-textarea {
    width: 45%;
  }

  .main-buttons-game,
  .main-buttons-word {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .my-button-game,
  .my-button-word {
    width: 44%;
  }
}

/* Desktop */
@media screen and (min-width: 1440px) {
  .input-textarea {
    width: 35%;
  }

  .main-buttons-game,
  .main-buttons-word {
    max-width: 50%;
  }
}
